<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Site do meu TCC</title>
</head>
<body>
    <div>
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2018 - WPF_TCC_UNIDENTE.Web.Server</p>
        </footer>
    </div>
</body>
</html>
